
.buyButton {
    -fx-background-color:#87CC87;
    -fx-font-family:Verdana;
    -fx-font-size:15;
    -fx-border-width:0.5;
    -fx-border-color:#116611;
    -fx-border-style:solid;
}

.buyButton:hover {
    -fx-background-color:#54AA54;
    -fx-font-family:Verdana;
    -fx-font-size:15;
    -fx-border-width:0.5;
    -fx-border-color:#116611;
    -fx-border-style:solid;
}

.productButton {
    -fx-background-color:#ffffff;
    -fx-border-width:0.5;
    -fx-border-color:#ccc;
    -fx-border-style:solid;
}

.productButton:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.productImage {

}

.newShoppingList {
    -fx-background-color:#ccc;
        -fx-border-width:0.5;
        -fx-border-color:#666;
        -fx-border-style:solid;
}

#content {
    -fx-background-color:#ffffff;
}

#headerPane {
    -fx-background-color:#ffffff;
}

#selected {
    -fx-background-color:#A9D990;
}

#selected:hover {
    -fx-background-color:#A9D990;
    -fx-border-color:#559434;
    -fx-border:1;
}

#unSelected {
    -fx-background-color:#CDEABD;
    -fx-border-color:#A9D990;
    -fx-border:1;
}

#unSelected:hover {
    -fx-background-color:#A9D990;
    -fx-border-color:#559434;
    -fx-border:1;
}

#searchButton {
    -fx-background-color:#A9D990;
}

#searchButton:hover {
    -fx-background-color:#A9D990;
    -fx-border-color:#559434;
    -fx-border:1;
}

#helpButton {
    -fx-background-color:#A9D990;
}

#helpButton:hover {
    -fx-background-color:#A9D990;
    -fx-border-color:#559434;
    -fx-border:1;
}

#shoppingCartItem {
    -fx-background-color:#A9D990;
    -fx-font-color:black;
}

#shoppingCartItem:hover {
    -fx-background-color:#A9D990;
    -fx-font-color:black;
    -fx-border-color:#559434;
    -fx-border:1;
}